@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

body {
    margin: 5%;
    font-family: Kumbh Sans
}

button {
    border: none;
    background: none;
    padding: none;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
}

@media (min-width: 1250px) {
    #navbarSupportedContent {
        display: none;
    }

    .btn-close{
        display: none;
    }
}

@media (max-width: 1250px) {
    #navbarSupportedContent {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        background-color: white;
        width: 75%;
        height: 100%;
    }

    .hide {
        display: none;
    }
}

@media (min-width: 1250px) {
    .thumbnail-btn {
        
    }
}

@media (max-width: 1250px) {
    .thumbnail-btn {
        display: none;
    }
}

#collapseExample {
    position: fixed;
    z-index: 1000;
}

.cart-item {
    align-items: center;
    margin-bottom: 10px;
}

.cart-item-title {
    align-items: center;
    float: left;
}

.cart-price {
    margin-right: 10px;
    float: left;
}

.cart-quantity {
    align-items: center;
    float: left;
}

.cart-quantity-value {
    margin: 0 5px;
    float: left;
}

.btn-outline-danger {
    float: right;
}

.orange {
    color: hsl(26, 100%, 55%);
}

.orange-fill {
    background-color: hsl(26, 100%, 55%);
}

.btn-primary {
    border: hsl(223, 64%, 98%);
    --bs-btn-hover-bg: hsl(25, 100%, 70%)
}

.btn {
    border: hsl(223, 64%, 98%);
}

.cart-quantity-input:hover {
    cursor: default;
}

.cart-quantity-input {
    border: hsl(223, 64%, 98%);
    text-align: center;
}

.grey-fill {
    background-color: hsl(220, 14%, 75%);
}