@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
body
{
    background-image: url(background_img.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin: 100px;
    font-family: 'Kumbh Sans', sans-serif;
}
#window
{
    height: 850px;
    width: 1710px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 50px 50px rgb(194, 194, 194);
}
#padding
{
    padding-left: 150px;
    padding-right: 150px;
}
nav
{
    border-bottom: solid rgb(160, 160, 160) 1px;
    height: 100px;
    width: 1400px;
    line-height: 100px;
}
.index
{
    float: left;
    width: 200px;
    font-size: 35px;
    font-weight: bold;
}
.collection
{
    float: left;
    width: 100px;
    text-align: center;
}
.men
{
    float: left;
    width: 100px;
    height: 100px;
    text-align: center;
}
.women
{
    float: left;
    width: 100px;
    height: 100px;
    text-align: center;
}
.about
{
    float: left;
    width: 100px;
    height: 100px;
    text-align: center;
}
.contact
{
    float: left;
    width: 100px;
    height: 100px;
    text-align: center;
}
#cart
{
    float: right;
    width: 100px;
    height: 100px;
    text-align: center;
}
#avatar
{
    float: right;
    width: 100px;
    height: 100px;
    line-height: 125px;
    text-align: center;
}
#block
{
    height: 500px;
    width: 1300px;
    padding-top: 80px;
    padding-left: 100px;
    padding-right: 100px;
}
section
{
    float: left;
    padding-top: 40px;
    height: 450px;
    width: 450px;
}
.attribution
{
    text-align: center;
    font-size: smaller
}
img
{
    border-radius: 10px;
}
#image-product-1
{
    float: left;
    padding-right: 200px;
}
.thumbnails
{
    padding-left: 100px;
}
.thumbnail
{
    float: left;
    height: 100px;
    width: 100px;
    padding-right: 16.66px;
}